/********************** GLOBAL STYLES ***********************/

.App {
  /* padding: 10px 10px 0 10px; */
}

body {
  margin: 0;
}

button {
  background-color: rgb(0, 56, 168);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 0.9em;
  width: 70%;
}

#landing-container,
#about-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}



/********************** FOOTER ***********************/

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  width: 100vw;
  height: 110px;
}

#f-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 90px 0 90px;
}

#f-content img {
  width: 35px;
}


/********************** HEADER ***********************/

#header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

/********************** BANNER ***********************/

/* .banner {
  display: flex;
  flex-direction: column;
} */

.banner img{
  width: 100vw;
  height: 300px;
}

.banner h1 {
  margin: -48% 0 50% 0;
}


/********************** NAV ***********************/

#mob-nav-container {
  width: 100vw;
  height: 102vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(50, 50, 50);
}

#mob-nav-content {
  color: white;
  padding: 10%;
  font-size: 1.3em;
  font-weight: bold;
}

#mob-nav-content a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.sub-nav {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  font-size: 0.6em;
  font-weight: 100;
  line-height: 30px;
}

#mob-nav-content #mob-nav-bottom {
  position: absolute;
  bottom: 30px;
}

#mob-nav-content #mob-nav-bottom h5 {
  color: white;
  font-weight: 100;
  font-size: 0.72em;
}


/********************** LANDING PAGE ***********************/


#landing-about img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}


/********************** ABOUT PAGE ***********************/

#about-container .t-block img {
  width: 100px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
}

/* #team-container .t-right{
  columns: 2;
  align-items: center;
} */